body {
    width: 100%;
    height: 100%;
}

.radio-container {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 300px;
    height: 820px;

    background: url('./img/radio.png');
    background-size: contain;
}

.channel {
    position: absolute;
    font-family: 'VT323', monospace;
    font-weight: bold;
    font-size: 32px;
    width: 145px;
    text-align: center;
    bottom: 250px;
    left: 75px;
    opacity: 0.7;
}